._container {
    max-width: 1440px;
    margin: 0 auto;
}

.block-todo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

/* style for todo form */
.block-todo .block-todo__todo-form {
    display: flex;
    flex-direction: row;
    width: 400px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 20px;
    align-items: center;
}
.block-todo .block-todo__todo-form .todo__input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding-right: 5px;
    font-size: 13px;
}
.block-todo .block-todo__todo-form .todo-form__choose-color {
    display: flex;
}
.block-todo .block-todo__todo-form .todo__submit {
    width: 55px;
    height: 35px;
    background-color: #29988e;
    border: none;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 5px;
}
/* ------------------ */

/* style for custom radio btn */
.block-todo__todo-form .todo-form__choose-color .radio {
    margin-right: 2px;
}
.block-todo .block-todo__todo-form .todo-form__choose-color .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.block-todo .block-todo__todo-form .todo-form__choose-color .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 3px;
}
.block-todo .block-todo__todo-form .todo-form__choose-color #todoColor1+label::before {
    background-color: blue;
}
.block-todo .block-todo__todo-form .todo-form__choose-color #todoColor2+label::before {
    background-color: #ffa400;
}
.block-todo .block-todo__todo-form .todo-form__choose-color #todoColor3+label::before {
    background-color: green;
}
.block-todo .block-todo__todo-form .todo-form__choose-color #todoColor4+label::before {
    background-color: red;
}
.block-todo .block-todo__todo-form .todo-form__choose-color #todoColor5+label::before {
    background-color: #00d669;
}
.block-todo .block-todo__todo-form .todo-form__choose-color #todoColor6+label::before {
    background-color: #530cff;
}

.block-todo .block-todo__todo-form .todo-form__choose-color .custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.block-todo .block-todo__todo-form .todo-form__choose-color .custom-radio:checked+label::before {
    border-color: #ffffff;
    box-shadow: 0px 0px 0 1px #e4bf5c

}
/* ------------------ */

/* style for todo item */
.block-todo .block-todo__todo-items {
    width: 420px;
}

.block-todo .block-todo__todo-items .todo-item {
    margin-bottom: 2px;
}

.block-todo .block-todo__todo-items .todo-item span {
    padding-left: 10px;
}

.block-todo .block-todo__todo-items .todo-item {
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

.block-todo .block-todo__todo-items .todo-item__check-box {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.block-todo .block-todo__todo-items .todo-item__text {
    border-left: 2px solid #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    word-break: break-all;
    font-size: 17px;
}
/* ------------------ */
